  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }


  .field-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .select-wrapper {
    position: relative;
  }

  .field-label {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 5px;
  }

  .select-field {
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #eee; */

    font-size: 18px;
    color: var(--tg-theme-text-color);

    width: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    box-sizing: border-box;

    appearance: none;
    outline: 0;
  }

  .text-field {
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #eee; */

    font-size: 18px;
    color: var(--tg-theme-text-color);

    width: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    box-sizing: border-box;

    outline: 0;
  }


  .switch {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .switch input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    display: block;
    width: 40px;
    height: 22px;

    position: relative;
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #ccc; */
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    border: 2px solid var(--tg-theme-button-color);
    /* border: 2px solid #2196F3; */
    box-sizing: border-box;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch input:checked+.slider {
    background-color: var(--tg-theme-button-color);
    /* background-color: #2196F3; */
  }

  .switch input:checked+.slider::before {
    background-color: #fff;
    border: none;
  }

  .switch input:focus+.slider {
    box-shadow: 0 0 1px var(--tg-theme-button-color);
    /* box-shadow: 0 0 1px #2196F3; */
  }

  .switch input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .switch-buttons .switch {
    padding-bottom: 20px;
  }

  .switch-buttons .field-label {
    padding-bottom: 15px;
  }

  .secondary-button {
    background-color: transparent;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    text-align: center;

    width: 100%;
    padding: 10px;
    border: 2px solid var(--tg-theme-button-color);
    border-radius: 8px;

    box-sizing: border-box;
  }

  .company-phot-container {
    text-align: center;
    padding-top: 20px;
  }

  .company-phot-container img {
    width: 200px;
  }

  .partner-form-container,
  .create-menu-container {
    padding: 5px;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .dish-form-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
  }

  .dish-upload-button {
    background-color: var(--tg-theme-secondary-bg-color);
    font-size: 18px;
    color: var(--tg-theme-text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;
  }

  .dish-upload-button svg {
    width: 24px;
    height: 24px;
    fill: var(--tg-theme-text-color);
  }

  .dish-form-upload img {
    width: 100px;
  }

.dish-list-container {
  padding-top: 20px;
}

  .partner-dish-card {
    padding-bottom: 15px;
  }

  .partner-dish-card h4 {
    margin: 0;
    padding-bottom: 10px;
  }

  .badges-container {
    display: flex;
    gap: 10px;
  }

  .food-badge {
    background-color: var(--tg-theme-button-color);
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;
    border-radius: 25px;
  }

  .food-badge p {
    /* font-size: 18px; */
    margin: 0;
  }

  .food-badge button {
    background: transparent;
    border: none;
    padding: 0;
  }

  .food-badge svg {
    width: 16px;
    height: 16px;
    fill: var(--tg-theme-text-color);
  }

  .group-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }



  /* OrderPage.css */
  .order-page {
    /* padding: 16px; */
  }

  .dish-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 12px; */
  }

  .dish-card {
    border: 1px solid #ddd;
    padding: 8px;
    /* width: 150px; */
    width: 48%;
    text-align: center;
    box-sizing: border-box;
  }

  .order-footer {
    margin-top: 20px;
    text-align: center;
  }


  .checkout-page {
    padding: 16px;
  }

  .back-button {
    margin-bottom: 12px;
  }

  .checkout-list {
    margin-bottom: 20px;
  }

  .checkout-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }

  .text-field,
  .text-area {
    padding: 8px;
    width: 100%;
  }

  .total-wrapper {
    text-align: center;
  }

  .button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
  }

  .counter {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .counter button {
    width: 30px;
    height: 30px;
  }

  .dish-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }