  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }


  .field-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .select-wrapper {
    position: relative;
  }

  .field-label {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 5px;
  }

  .select-field {
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #eee; */

    font-size: 18px;
    color: var(--tg-theme-text-color);

    width: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    box-sizing: border-box;

    appearance: none;
    outline: 0;
  }

  .text-field {
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #eee; */

    font-size: 18px;
    color: var(--tg-theme-text-color);

    width: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    box-sizing: border-box;

    outline: 0;
  }


  .switch {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .switch input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    display: block;
    width: 40px;
    height: 22px;

    position: relative;
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #ccc; */
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    border: 2px solid var(--tg-theme-button-color);
    /* border: 2px solid #2196F3; */
    box-sizing: border-box;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch input:checked+.slider {
    background-color: var(--tg-theme-button-color);
    /* background-color: #2196F3; */
  }

  .switch input:checked+.slider::before {
    background-color: #fff;
    border: none;
  }

  .switch input:focus+.slider {
    box-shadow: 0 0 1px var(--tg-theme-button-color);
    /* box-shadow: 0 0 1px #2196F3; */
  }

  .switch input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .switch-buttons .switch {
    padding-bottom: 20px;
  }

  .switch-buttons .field-label {
    padding-bottom: 15px;
  }

  .secondary-button,
  .primary-button {

    font-size: 16px;
    color: var(--tg-theme-button-text-color);
    text-align: center;

    width: 100%;
    padding: 10px;

    border-radius: 8px;

    box-sizing: border-box;
  }

  .secondary-button {
    color: var(--tg-theme-text-color);
    background-color: transparent;
    border: 2px solid var(--tg-theme-button-color);
  }

  .primary-button {
    background-color: var(--tg-theme-button-color);
    border: none;
  }

  .dish-list .secondary-button {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
  }

  .edit-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .company-phot-container {
    text-align: center;
    padding-top: 20px;
  }

  .company-phot-container img {
    width: 200px;
  }

  .partner-form-container,
  .create-menu-container,
  .order-page-container {
    padding: 5px;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .dish-form-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
  }

  .dish-upload-button {
    background-color: var(--tg-theme-secondary-bg-color);
    font-size: 18px;
    color: var(--tg-theme-text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;
  }

  .dish-upload-button svg {
    width: 24px;
    height: 24px;
    fill: var(--tg-theme-text-color);
  }

  .dish-form-upload img {
    width: 100px;
  }

  .dish-list-container .dish-list {
    padding-top: 20px;
  }

  .food-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 10px;

    border: 1px solid var(--tg-theme-hint-color);
    /* border: 1px solid #707579; */
    border-radius: 8px;
  }

  .food-badge p {
    margin: 0;
  }

  .food-badge button {
    background: transparent;
    border: none;
    padding: 0;
  }

  .food-badge svg {
    width: 16px;
    height: 16px;
    fill: var(--tg-theme-text-color);
  }

  .group-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .back-button {
    background-color: transparent;
    font-size: 18px;
    color: var(--tg-theme-button-color);
    padding: 6px 0;
    border: 0;

    position: sticky;
    top: 0;
    z-index: 10;
  }

  .partner-details {
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 10px 8px;
    border-radius: 8px;
  }

  .categories-container {
    padding-top: 20px;
  }

  .partner-details h2 {
    font-weight: 600;
    margin: 0;
    padding-bottom: 4px;
  }

  .partner-details p {
    color: var(--tg-theme-subtitle-text-color);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }

  .dish-categories-container {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 4px;
  }

  .radio-input-label {
    position: relative;

    display: inline-flex;
    border-radius: 25px;
    margin-right: 5px;

    overflow: hidden;
  }

  .radio-input {
    position: absolute;
    left: -9999px;
  }

  .radio-input-text {
    font-size: 14px;
    color: var(--tg-theme-text-color);

    background-color: var(--tg-theme-secondary-bg-color);
    width: 100%;
    padding: 8px 10px;

    transition: 0.25s ease;
  }

  .radio-input:checked+.radio-input-text {
    background-color: var(--tg-theme-button-color);
    /* background-color: #3390ec; */
    color: var(--tg-theme-button-text-color)
  }

  .dish-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .dish-card {
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #f4f4f5; */
    padding: 8px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
  }

  .dish-card-image {
    background-color: var(--tg-theme-bg-color);
    height: 150px;
    /* padding: 8px; */
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
  }

  .dish-card-image img {
    background-color: var(--tg-theme-bg-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .dish-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  .dish-weight {
    color: var(--tg-theme-subtitle-text-color);
    font-size: 12px;
    font-weight: 400;
  }

  .dish-price {
    font-size: 18px;
    color: var(--tg-theme-text-color);
    font-weight: 600;
  }

  .dish-title {
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
    flex-grow: 1;
  }

  .dish-counters {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .dish-counters span {
    font-size: 18px;
    font-weight: 600;
  }

  .dish-counters button {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .order-footer {
    padding-top: 20px;
  }

  .fixed-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 90%;
    text-align: center;
    font-weight: 600;
    padding: 14px;
    border-radius: 8px;

    transform: translateX(-50%) !important;
    background-color: var(--tg-theme-button-color);
    /* background-color: blue; */
  
    font-size: 18px;
    color: var(--tg-theme-button-text-color);
  }

  .order-page {
    padding-bottom: 70px;
  }

  .form-wrapper {
    padding: 20px 0;
  }

  .checkout-list {
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: #eee; */
    padding: 10px 8px;
    border-radius: 8px;
  }

  .checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .checkout-item p {
    font-size: 16px;
    margin: 0;
  }

  .increase-decrease-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .increase-decrease-buttons span {
    font-size: 16px;
  }

  .increase-decrease-buttons button {
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    padding: 0 10px;
    border: none;
  }

  .total-wrapper {
    padding-top: 10px;
  }

  .operation-type-switchers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .operation-type-switchers .radio-input-label {
    margin-right: 0;
    border-radius: 0;
    border-right: 1px solid var(--tg-theme-bg-color);
  }

  .operation-type-switchers .radio-input-label:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 1px solid var(--tg-theme-bg-color);
  }

  .operation-type-switchers .radio-input-label:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .operation-type-switchers .radio-input-text {
    text-align: center;
    font-size: 18px;
  }

  .action-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .new-dishes-container {
    padding-top: 20px;
  }